<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.narayan.SahilStats.GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.203118165866-mmvkfgn5cq97uj337iaabl239dm8ke31</string>
			</array>
		</dict>
	</array>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>external-accessory</string>
	</array>
    <key>NSCalendarsUsageDescription</key>
    <string>SahilStats can automatically fill in game details from your calendar to make setup faster and easier</string>

    <key>NSCameraUsageDescription</key>
    <string>This app needs camera access to record game footage with live stats overlay and scan QR codes for easy device pairing</string>

    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs microphone access to record game audio along with video</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>SahilStats needs local network access to connect recording and control devices via Bluetooth</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_sahilstats._tcp</string>
        <string>_sahilstats._udp</string>
    </array>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need access to save game recordings</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to upload game videos</string>

    <key>NSSupportsLiveActivities</key>
    <true/>
</dict>
</plist>
