<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>SahilStats uses your location to automatically fill in the game location, making it easier to track where games are played.</string>
    
    <key>NSLocationUsageDescription</key>
    <string>SahilStats uses your location to automatically fill in the game location.</string>
    
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.narayan.SahilStats.GoogleSignIn</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.203118165866-b5v9su9uq894b6n07kjd80ij8ou0fkq3</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
